h1 {
  color: bisque;
  text-align: center;
}

body {
  background: linear-gradient(to right, #000000, #3f87a6);
  background-repeat: no-repeat;
  color: white;
}

section ul li {
  list-style: none;
  margin-right: 15px;
}

section {
  display: flex;
  flex-wrap: wrap;
}

section ul {
  display: flex;
  align-items: center;
}

input {
  width: 200px;
  display: flex;
  margin-bottom: 15px;
}

#send {
  background-color: rgba(3, 46, 238, 0.432);
  color: white;
}

section ul li img {
  width: 250px;
}
